/* Обнулення стилів */
@import url("additionalFiles/zeroStyle.css");

/* header style */
@import url("additionalFiles/header.css");

/* font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* main style */
@import url("additionalFiles/main.css");

/* footer style */
@import url("additionalFiles/footer.css");

/* burger style */
@import url("additionalFiles/burger.css");

body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    background-color: #181733;
    font-size: 14px;
    color: #FDC52C;
}

.wraper {
    display: flex;
    flex-direction: column;
}

.main {
    padding-top: 148px;
    flex: 1 1 auto;
}

.conteiner {
    max-width: 1560px;
    padding: 0px 20px;
    margin: 0 auto;
}

.main__item {
    position: relative;
}

.main__item::before {
    content: "";
    display: block;
    width: 50px;
    height: 400px;
    background-color: #154284;
    position: absolute;
    top: 22.7%;
    z-index: -1;
    left: 0;
}

.main__item::after {
    content: "";
    display: block;
    width: 50px;
    height: 280px;
    background-color: #CD122D;
    position: absolute;
    top: 16.5%;
    right: 0;
    z-index: -1;
}