.footer {
    padding: 75px 0px;
    background-color: #CD122D;
}

.footer__content {
    padding: 0px 50px;
}

.footer__content {
    text-align: center;
}

.footer__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.footer__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.footer__img {
    width: 25%;
}

.footer__img img {
    max-width: 100%;
}

.footer__img:first-child {
    transform: rotate(15deg);
}

.footer__img:last-child {
    transform: rotate(-15deg);
}

.footer__text {
    font-size: 64px;
    font-weight: 700;
}

/* After 600px */
@media screen and (max-width: 600px) {
    .footer__img {
        width: 100%;
    }

    .footer__images {
        gap: 70px;
        text-align: center;
    }

    .footer__img:last-child,
    .footer__img:first-child {
        transform: rotate(0);
    }

    .footer__text {
        font-size: 26px;
    }

}